
.re{
    position: relative;
    background-color: rgb(153, 219, 255);
    border-style: outset;
    border-width: 8px;
    border-radius: 30px ;
    box-sizing: 100px;
    padding: 50px;
    width: 500px;
    height: 220px; 
    margin-top: 240px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;

}

.ab{
    position : absolute;
    margin-top: 15px;
    margin-left: 220px;

}

h1{
    font-size: 30px;
}
p{
    font-size: 20px;
}

img{
    position: relative;
    /* left: 20px; */
    float:left;
    border: 2px solid #000000;
    border-style: outset;
}