
.ab{
    position: absolute;
    background-color: rgb(153, 219, 255);
    border-style: outset;
    border-width: 8px;
    border-radius: 30px ;
    box-sizing: 100px;
    padding: 50px;
    top: 200px;
    right: 350px;
    width: 500px;
    height: 220px; 
    

}

.re{
    position : relative;
    /* left : 220px;
    bottom: 100px; */
    /* margin-bottom: 200px; */
    float: right;

}

h1{
    font-size: 30px;
}
p{
    font-size: 20px;
}

img{
    position: relative;
    left: 20px;
    /* float:left; */
}